<!DOCTYPE html>
<html>
  <head>
    <title>ROR <%= @title %></title>
	<%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
	<p>
		<a href="home"> Home</a>
	</p>
	<p>
		<a href="contact"> Contacts</a>
	</p>
	<p>
		<a href="about"> About Us</a>
	</p>
  </body>
</html>
